@import "tailwindcss";
/* @plugin "@tailwindcss/default"; */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  gap: 2rem;
  animation: scroll 50s linear infinite; /* Adjusted duration for slower speed */
  width: max-content;
}


@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-900;
  }

}

@layer utilities {
  .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
  }

}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}